body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-weight: bold;
}

header img {
  height: 60px;
}

.menu-container {
  background-color: rgba(0, 0, 0, 0.03);
  padding-left: 80px;
  padding-top: 20px;
  padding-right: 80px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shoppingbag {
  width: 25%;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.content {
  display: flex;
}

.shoppingButtons {
  background-color: aqua;
  display: flex;
}

.container {
  width: 75%;
}

.titlepic {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.titlepic img {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.titlepic a {
  text-decoration: none;
  color: black;
}

.titlepic a:hover {
  text-decoration: underline;
}

.icons-header img {
  height: 20px;
  width: 30px;
  object-fit: cover;
  margin-right: 20px;
  padding: 10px 10px;
  border-radius: 90px;
}

.icons-header img:hover {
  background-color: rgba(255, 0, 0, 0.1);
  cursor: pointer;
}

.cart {
  height: 50px;
  object-fit: cover;
  padding-top: 100px;
}

.img-button {
  height: 20px !important;
  width: 20px !important;
  padding: 5px;
  border-radius: 90px;
}

.buttons {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.buttons a {
  margin-left: 20px;
  font-size: 20px;
}

.buttons img {
  background-color: bisque;
}

.container-main {
  display: flex;
  justify-content: space-between;
}

.icons-main img {
  height: 20px;
  width: 20px;
  object-fit: cover;
}

.icons-main button {
  border-radius: 90px;
  border: none;
  padding: 15px 15px;
  margin-right: 10px;
}

.icons-main button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.icons-main {
  margin-top: 30px;
  margin-right: 50px;
}

.structure-main {
  margin-left: 80px;
  margin-right: 80px;
  padding-bottom: 16px;
}

.icons img {
  height: 15px;
  width: 15px;
  padding-right: 10px;
  filter: invert(49%) sepia(94%) saturate(4461%) hue-rotate(11deg)
    brightness(108%) contrast(97%);
}

.icons {
  height: 15px;
  width: 15px;
}

.icon-bike img {
  height: 20px;
  width: 20px;
  padding-right: 10px;
  object-fit: cover;
}

.icon-bike {
  display: flex;
  padding-top: 10px;
  padding-bottom: 20px;
}

.menu-card {
  width: 100%;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 15px 15px;
  margin-bottom: 24px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header h3 {
  margin: 0;
  margin-bottom: 5px;
}

.card-header img {
  height: 30px;
}

.card-header img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card-main {
  display: flex;
  justify-content: space-between;
}

.card-main img {
  height: 150px;
  width: 280px;
  object-fit: cover;
  border-radius: 15px;
  padding-top: 10px;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-description {
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 15px;
  font-size: 17px;
}

footer {
  background-color: grey;
  height: 200px;
}