body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-weight: bold;
}

header img {
  height: 60px;
}

.menu-container {
  background-color: rgba(0, 0, 0, 0.03);
  padding-left: 80px;
  padding-top: 20px;
  padding-right: 80px;
  padding-bottom: 24px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shoppingbag {
  width: 30%;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.content {
  display: flex;
}

.shoppingButtons {
  background-color: red;
  display: flex;
}

.container {
  width: 70%;
}

.titlepic {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.titlepic img {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.titlepic a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border-radius: 20px;
}

.titlepic a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.icons-header img {
  height: 20px;
  width: 30px;
  object-fit: cover;
  margin-right: 20px;
  padding: 10px 10px;
  border-radius: 90px;
}

.icons-header img:hover {
  background-color: rgba(255, 0, 0, 0.1);
  cursor: pointer;
}

.cart {
  height: 50px;
  object-fit: cover;
  padding-top: 100px;
}

.img-button {
  height: 20px !important;
  width: 20px !important;
  padding: 5px;
  border-radius: 90px;
}

.buttons {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.buttons a {
  margin-left: 20px;
  font-size: 20px;
}

.container-main {
  display: flex;
  justify-content: space-between;
}

.icons-main img {
  height: 20px;
  width: 20px;
  object-fit: cover;
}

.icons-main button {
  border-radius: 90px;
  border: none;
  padding: 15px 15px;
  margin-right: 10px;
}

.icons-main button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.icons-main {
  margin-top: 30px;
  margin-right: 50px;
}

.structure-main {
  margin-left: 80px;
  margin-right: 80px;
  padding-bottom: 16px;
}

.icons img {
  height: 15px;
  width: 15px;
  padding-right: 10px;
  filter: invert(49%) sepia(94%) saturate(4461%) hue-rotate(11deg)
    brightness(108%) contrast(97%);
}

.icons {
  height: 15px;
  width: 15px;
}

.icon-bike img {
  height: 20px;
  width: 20px;
  padding-right: 10px;
  object-fit: cover;
}

.icon-bike {
  display: flex;
  padding-top: 10px;
  padding-bottom: 20px;
}

.menu-card {
  width: 100%;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 15px 15px;
  margin-bottom: 24px;
  cursor: pointer;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header h3 {
  margin: 0;
  margin-bottom: 5px;
}

.card-header img {
  height: 30px;
}

.card-header img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card-main {
  display: flex;
  justify-content: space-between;
}

.card-main img {
  height: 150px;
  width: 280px;
  object-fit: cover;
  border-radius: 15px;
  padding-top: 10px;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-description {
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 15px;
  font-size: 17px;
}

footer {
  background-color: grey;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  color: rgb(224, 217, 217);
  text-decoration: none;
}

footer a:hover {
  opacity: 0.6;
  text-decoration: underline;
}

.deliverybuttons {
  background-color: grey;
  height: 50px;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.shopping-button-delivery {
  height: 48px;
  width: 50%;
  margin: 1px 1px;
  border-radius: 90px;
  border: none;
}

.shopping-button-delivery:hover {
  opacity: 0.6;
  cursor: pointer;
}

.display-none {
  display: none;
}

.kasten {
  display: flex;
  flex-direction: column;
}

.space-between {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.text-decoration {
  text-decoration: underline;
  font-weight: bold;
}

.notiz {
  text-decoration: none;
  color: grey;
  width: 50px;
}

.icons-bag img {
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.icons-bag img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.icons-bag {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bag-list {
  margin-left: 20px;
  margin-right: 20px;
  overflow-y: auto;
  padding-bottom: 20px;
}

.spacer {
  height: 1px;
  background-color: grey;
  width: 100%;
  margin-bottom: 16px;
  margin-top: 6px;
}

.sum {
  display: flex;
  flex-direction: column;
}

.buy-button {
  height: 50px;
  border-radius: 90px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: red;
}

.buy-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.markbuttons {
  background-color: red;
  color: white;
}

.responsiveMenu {
  position: fixed;
  right: 20px;
  top: 50vh;
  z-index: 999; /* Stelle sicher, dass der Button über anderen Inhalten liegt */
  display: none;
}

.responsiveButton {
  height: 50px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.responsiveButton:hover {
  opacity: 0.5;
  cursor: pointer;
}

#shoppingBagToggle {
  position: absolute;
  right: 20px;
  top: 100px;
}

.shoppingBagResponsive {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: white;
}

.responsiveImg {
  display: none;
}

.responsiveImg:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 1090px) {
  .space-between {
    display: flex;
    flex-direction: column;
  }

  .notiz {
    display: none;
  }

  .spacer {
    margin-top: 0;
    margin-bottom: 8px;
  }

  .text-decoration {
    margin-bottom: 5px;
  }

  .space-between {
    margin-bottom: 8px;
  }

  .bag-list {
    font-size: 15px;
  }

  .structure-main {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 850px) {
  .buttons a {
    margin-left: 0px;
    font-size: 18px;
  }

  h2 {
    font-size: 20px;
  }

  .card-header {
    font-size: 14px;
  }

  .card-main img {
    width: 150px;
    height: 100px;
  }

  .text-description {
    font-size: 14px;
  }

  .shoppingbag {
    display: flex;
  }

  .responsive-h3-empty {
    font-size: 16px;
  }

  .responsive-span-empty {
    font-size: 14px;
  }

  .responsive-div-empty {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 700px) {
  .shoppingbag {
    display: none;
  }

  .display-flex {
    display: flex;
  }

  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
  }

  .container {
    width: 100vw;
  }

  .imgResponsive {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 16px;
  }

  .responsiveMenu {
    display: block;
  }

  #shoppingBagToggle.display-none {
    display: none !important;
  }

  .responsiveImg {
    display: block;
  }

  .thanks-h1 {
    font-size: 20px;
    padding-left: 20px;
  }

  .thanks-p {
    font-size: 12px;
    padding-left: 20px;
  }
}

@media (max-width: 500px) {
  .icons-main {
    margin: 0;
    margin-top: 20px;
  }

  .icons-main img {
    height: 15px;
    width: 15px;
    object-fit: cover;
  }
  
  .icons-main button {
    border-radius: 90px;
    border: none;
    padding: 10px 10px;
    margin-right: 10px;
  }

  .container-main h1 {
    font-size: 20px;
  }

  header img {
    height: 40px;
  }

  header {
    height: 60px;
  }

  .icons-header img {
    margin: 0;
    height: 15px;
    width: 20px;
  }

  .structure-main {
    margin-left: 20px;
    margin-right: 20px;
  }

  .buttons a {
   font-size: 14px;
  }

  .menu-container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .responsiveMenu img {
    height: 30px;
  }

  .card-header {
    font-size: 12px;
  }

  .card-main img {
    width: 120px;
    height: 80px;
  }

  .text-description {
    font-size: 12px;
  }

  .card-header img {
    height: 20px;
  }

  footer a {
    font-size: 10px;
  }

  footer {
    height: 50px;
  }

  .thanks-h1 {
    font-size: 16px;
    padding-left: 10px;
  }

  .thanks-p {
    font-size: 10px;
    padding-left: 10px;
  }
}
